USGS     USGS Stations   ww   USGS                  -1 2003-11-14 10:54:26\n
TX       TX Seismic Net  lo   FDSN                  -1 2023-01-30 14:00:26\n
FA       UCLA Seismology lo   FDSN                  -1 2014-03-20 11:06:42\n